<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYBa-HIK0IgP0myZ8c0as4wG42JDNxUJI</string>
	<key>GCM_SENDER_ID</key>
	<string>904812880342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoApp.marko123</string>
	<key>PROJECT_ID</key>
	<string>todo-app-4617a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-4617a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904812880342:ios:88e90f27441630c539c477</string>
</dict>
</plist>